
.container2{
    background-color: #252025;
    color: white;
    border-radius: 20px;
    max-width: 500px;
    padding:8px;
    margin: auto;
    border: 2px solid black;
    
}

.cont{display: center;
    display: center;
    flex-wrap: wrap;}

.background-image {
  background-image: url('./../imaes.jpg');
  /* background-image: none; */
   background-repeat: no-repeat;
  /* opacity: 0.5; */
  /* Other styles */
}
